<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="bootstrap.php"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        
        verbose="false">
    <testsuites>
        <testsuite name="Billomat Test Suite">
            <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">.</directory>
        </testsuite>
    </testsuites>

</phpunit>